/* menu */

@media screen and (max-width: 700px) {
.menu {
  font-family: "Verdana" ,sans-serif;
  font-size: 20px;
	padding:30px;
}

.menu a:link, .menu a:visited {	
	letter-spacing: 1px;
 	text-transform: uppercase; 
	font-family: Menlo, Monaco, "Courier New", sans-serif;
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;
}
}

/* jcp */

@media only screen and (max-width: 700px){
         .responsive {
         width: 49.99999%;
         margin: 6px 0;
         }
         }
         @media only screen and (max-width: 500px){
         .responsive {
         width: 100%;
         }
         }